* {
  margin: 0;
  padding: 0;
}

.game .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__title {
  text-align: center;
  margin-bottom: 20px;
}

.game__field {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.game__card {
  display: inline-block;
  max-width: 200px;
  max-height: 400px;
}

.game__btn {
  display: none;
  width: 100px;
  height: 50px;
}


.game__start {
  margin: 0 auto;
  height: 100px;
  width: 300px;
}
